<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite - 1">
    <test verbose="2" name="Test - 1">
        <classes>
            <class name="com.alevel.selenium.elmir.ElmirTest">
                <methods>
                    <include name ="buyingACarThroughTheLine"/>
                    <include name ="comparisons"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>